<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Music Review Data</title>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--datatables links-->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <!--end datatables links-->
    <script src="/static/js/custom.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('best_new_music') }}">Best New Music</a></li>
            <li><a href="{{ url_for('acclaimed_metacritic') }}">Best of Metacritic</a></li>
            <li><a href="{{ url_for('pitchfork_search') }}">Pitchfork Reviews by Criteria</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('metacritic') }}">All Metacritic Reviews</a></li>
                    <li><a href="{{ url_for('pitchfork') }}">All Pitchfork Reviews</a></li>
                    <li><a href="{{ url_for('combined_reviews') }}">Pitchfork and Metacritic Combined (ugly and slow)</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                </ul>
            </li>
            </div>
        </ul>
    </div>
</nav>
<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
</body>
</html>